<form asp-action="Salvar">
    <label class="form-label"> CPF </label>
    <input type="number" name="cpf" class="form-control" />
    <br />

    <label class="form-label"> Nome </label>
    <input type="text" name="nome" class="form-control" />
    <br />

    <label class="form-label"> Endereço </label>
    <input type="text" name="endereco" class="form-control" />
    <br />

    <label class="form-label"> Telefone </label>
    <input type="text" name="telefone" class="form-control" />
    <br />

    <label class="form-label"> E-mail </label>
    <input type="text" name="email" class="form-control" />
    <br />

    <label class="form-label"> Pretensão Salarial </label>
    <input type="text" name="pretensaoSalarial" class="form-control" />
    <br />

    <label class="form-label"> Cargo Pretendido </label>
    <input type="text" name="cargoPretendido" class="form-control" />
    <br />

    <label class="form-label"> Formação Acadêmica 1 </label>
    <input type="text" name="formacaoAcademica1" class="form-control" />
    <br />

    <label class="form-label"> Formação Acadêmica 2 </label>
    <input type="text" name="formacaoAcademica2" class="form-control" />
    <br />

    <label class="form-label"> Formação Acadêmica 3 </label>
    <input type="text" name="formacaoAcademica3" class="form-control" />
    <br />

    <label class="form-label"> Formação Acadêmica 4 </label>
    <input type="text" name="formacaoAcademica4" class="form-control" />
    <br />

    <label class="form-label"> Formação Acadêmica 5 </label>
    <input type="text" name="formacaoAcademica5" class="form-control" />
    <br />

    <label class="form-label"> Experiência 1 </label>
    <input type="text" name="experiencia1" class="form-control" />
    <br />

    <label class="form-label"> Experiência 2 </label>
    <input type="text" name="experiencia2" class="form-control" />
    <br />

    <label class="form-label"> Experiência 3 </label>
    <input type="text" name="experiencia3" class="form-control" />
    <br />

    <label class="form-label"> Idiomas </label>
    <input type="text" name="idiomas" class="form-control" />
    <br />

    <input type="submit" value="Salvar" class="btn btn-info" />
    <br />
</form>
